In [25]:
from pyspark.sql import SparkSession
spark_session = SparkSession.builder.master("local").appName("rdd-op-test1").getOrCreate()

## 온라인 상점에서 고객별로 주문한 상품들의 가격이 아래와 같이 제시되어 있다. 아래 데이터는 (고객ID, 상품명, 상품 가격) 형식이다. 이에 대해 다음 문제들을 풀어보시오.

In [26]:
orders = spark_session.sparkContext.parallelize([
    (1, 'milk', 4500),
    (2, 'beer', 7500),
    (3, 'apple', 3500),
    (4, 'lemon', 4500),
    (5, 'soju', 8500)
])

orders.collect()

[(1, 'milk', 4500),
 (2, 'beer', 7500),
 (3, 'apple', 3500),
 (4, 'lemon', 4500),
 (5, 'soju', 8500)]

### 1. 고객 ID가 짝수인 데이터만 필터링해서 even_orders rdd를 생성하시오

In [27]:
even_orders = orders.filter(lambda x: x[0] % 2 == 0)
even_orders.collect()

[(2, 'beer', 7500), (4, 'lemon', 4500)]

### 2. 상품의 가격에 대해 10% 할인된 가격을 적용해서 save_orders rdd를 생성하시오.

In [28]:
save_orders = orders.map(lambda x: (x[0], x[1], x[2] * 0.9))
save_orders.collect()

[(1, 'milk', 4050.0),
 (2, 'beer', 6750.0),
 (3, 'apple', 3150.0),
 (4, 'lemon', 4050.0),
 (5, 'soju', 7650.0)]

### 3. 10% 할인된 가격이 5000원 이하인 상품명들을 하나의 리스트로하는 items rdd를 생성하시오.

In [29]:
items = orders.filter(lambda x: x[2] * 0.9 <= 5000).map(lambda x: x[1])
items.collect()

['milk', 'apple', 'lemon']